<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/game-info/1" text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title>
      <ion-buttons class="ion-align-items-center ion-justify-content-center">
        <ion-icon name="trophy" color="warning"></ion-icon>
        <ion-text id="ord-deling-points" color="dark"></ion-text>
      </ion-buttons>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid id="main-container" style="height: 100%;">
    <ion-row style="height: 50%;">
      <img id="question-image" class="question-image box-shadow" [src]="'../../../../assets/img/games/images/' + roundData[round].image">
    </ion-row>

    <ion-row class="vertical-align-content" style="height: 50%;">
      <ion-grid>
        <ion-row [hidden]="!roundData[round].left[0]">
          <ion-col>
            <ion-button (click)="answer($event, 'left')" size="small" expand="block" color="light" class="alternative-btn">{{roundData[round].left[0]}}</ion-button>
          </ion-col>
          <ion-col>
            <ion-button  (click)="answer($event, 'right')" size="small" expand="block" color="light" class="alternative-btn">{{roundData[round].right[0]}}</ion-button>
          </ion-col>
        </ion-row>
        
        <ion-row [hidden]="!roundData[round].left[1]">
          <ion-col>
            <ion-button (click)="answer($event, 'left')" size="small" expand="block" color="light" class="alternative-btn">{{roundData[round].left[1]}}</ion-button>
          </ion-col>
          <ion-col>
            <ion-button  (click)="answer($event, 'right')" size="small" expand="block" color="light" class="alternative-btn">{{roundData[round].right[1]}}</ion-button>
          </ion-col>
        </ion-row>
        
        <ion-row [hidden]="!roundData[round].left[2]">
          <ion-col>
            <ion-button (click)="answer($event, 'left')" size="small" expand="block" color="light" class="alternative-btn">{{roundData[round].left[2]}}</ion-button>
          </ion-col>
          <ion-col>
            <ion-button  (click)="answer($event, 'right')" size="small" expand="block" color="light" class="alternative-btn">{{roundData[round].right[2]}}</ion-button>
          </ion-col>
        </ion-row>
        
        <ion-row [hidden]="!roundData[round].left[3]">
          <ion-col>
            <ion-button (click)="answer($event, 'left')" size="small" expand="block" color="light" class="alternative-btn">{{roundData[round].left[3]}}</ion-button>
          </ion-col>
          <ion-col>
            <ion-button  (click)="answer($event, 'right')" size="small" expand="block" color="light" class="alternative-btn">{{roundData[round].right[3]}}</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
  </ion-grid>
</ion-content>
