<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button [routerLink]="'/game-info/4'" routerDirection="back" auto-hide="false">
        <ion-icon color="secondary" name="arrow-back-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button (click)="toggleSoundMuted()" auto-hide="false">
        <ion-icon color="secondary" [name]="getSoundMuted() ? 'volume-mute-outline' : 'volume-high-outline'"></ion-icon>
      </ion-menu-button>
    </ion-buttons>

    <ion-title>
      <ion-buttons class="ion-align-items-center ion-justify-content-center">
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-text #pointsElement id='ord-deling-points' color="dark"></ion-text>
      </ion-buttons>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar color="tertiary" style="height: 2vh;" value="{{timeLeft / maxTimeTaken}}"></ion-progress-bar>
  
  <ion-grid #container style="height: 100%;">
    <ion-row class="vertical-align-content" style="height: 100%;">
      <ion-grid *ngIf="roundData">
        <div *ngIf="roundData[round]">
          <ion-row *ngFor="let pair of alternatives.left; let i = index">
            <ion-col size-sm="6" size="6" class="ion-text-center">
              <ion-button (click)="answer($event, 'left')" size="small" expand="block" color="light" mode="md" class="alternative-btn ion-text-wrap min-max-width">{{alternatives.left[i]}}</ion-button>
            </ion-col>
            <ion-col size-sm="6" size="6" class="ion-text-center">
              <ion-button  (click)="answer($event, 'right')" size="small" expand="block" color="light" mode="md" class="alternative-btn ion-text-wrap min-max-width">{{alternatives.right[i]}}</ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </ion-row>
  </ion-grid>
</ion-content>
