<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/game-info/1" text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title>
      <ion-buttons class="ion-align-items-center ion-justify-content-center">
        <ion-icon name="trophy" color="warning"></ion-icon>
        <ion-text id="finn-ordet-points" color="dark"></ion-text>
      </ion-buttons>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid id="main-container" style="height: 100%;">
    <ion-row style="height: 60%">
      <img id="question-image" class="question-image box-shadow" src="../../../../assets/img/games/images/sport/gentrit-sylejmani-JjUyjE-oEbM-unsplash.jpg">
    </ion-row>

    <ion-row class="vertical-align-content" style="height: 40%;">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button size="small" expand="block" color="light" style="font-size: 1.5rem; margin: 0; padding: 0;">Svømme-</ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="small" expand="block" color="light" style="font-size: 1.5rem; margin: 0; padding: 0;">terreng</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button size="small" expand="block" color="light" style="font-size: 1.5rem; margin: 0; padding: 0;">Rømme-</ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="small" expand="block" color="light" style="font-size: 1.5rem; margin: 0; padding: 0;">basseng</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button size="small" expand="block" color="light" style="font-size: 1.5rem; margin: 0; padding: 0;">Drømme-</ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="small" expand="block" color="light" style="font-size: 1.5rem; margin: 0; padding: 0;">parkett</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
  </ion-grid>
</ion-content>
