<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button [routerLink]="'/game-info/3'" routerDirection="back" auto-hide="false">
        <ion-icon color="secondary" name="arrow-back-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button (click)="toggleSoundMuted()" auto-hide="false">
        <ion-icon color="secondary" [name]="getSoundMuted() ? 'volume-mute-outline' : 'volume-high-outline'"></ion-icon>
      </ion-menu-button>
    </ion-buttons>

    <ion-title>
      <ion-buttons class="ion-align-items-center ion-justify-content-center">
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-text id="finn-bildet-points" color="dark"></ion-text>
      </ion-buttons>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar color="tertiary" style="height: 2vh;" value="{{timeLeft / maxTimeTaken}}"></ion-progress-bar>

  <div id="main-container" style="height: 98%;">
    <ion-grid style="height: 100%;">
      <ion-row class="ion-margin-horizontal" style="height: 40%;">
        <ion-col style="height: 100%;">
          <img (click)="answer($event, 0)" class="align-bottom-right imgButton" [src]="images[0]"/>
        </ion-col>
        <ion-col style="height: 100%;">
          <img (click)="answer($event, 1)" class="align-bottom-left imgButton" [src]="images[1]"/>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-horizontal" style="height: 40%;">
        <ion-col style="height: 100%;">
          <img (click)="answer($event, 2)" class="align-top-right imgButton" [src]="images[2]"/>
        </ion-col>
        <ion-col style="height: 100%;">
          <img (click)="answer($event, 3)" class="align-top-left imgButton" [src]="images[3]"/>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 20%;">
        <ion-button (click)="playSound()" shape="round" color="light" style="height: 85%;"><ion-icon style="font-size: 10vh" color="dark" name="ear-outline"></ion-icon></ion-button>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
