.container {
  --background: var(--ion-color-light);
}

ion-slides {
  height: 100%;
}

.dot {
  margin: 0.2rem;
  font-size: 1rem;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.ear {
  border: solid var(--ion-color-medium-tint);
  border-radius: 50%;
  background-color: var(--ion-color-light);
  padding: 2px;
  cursor: pointer;
  //-webkit-transform: scaleX(-1);
  //transform: scaleX(-1);
}

.top-right-corner {
  border: solid var(--ion-color-medium-tint);
  border-radius: 50%;
  background-color: var(--ion-color-light);
  border-collapse: separate;
  padding: 5px;
  width: 32px;
  height: 32px;
  font-size: 1rem;
  position: absolute;
  left: 0.25rem;
  top: 3rem;
  cursor: pointer;
  z-index: 3;
  //-webkit-transform: scaleX(-1);
  //transform: scaleX(-1);
}

.dot-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.2rem;
}

.overflow-control {
  overflow-y: auto;
  height: calc(100% - 30px);
  margin: 0;
}

.small-width {
  max-width: 200px;
}
