<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button [routerLink]="'/game-info/' + data.id.toString()" routerDirection="back" auto-hide="false">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button (click)="toggleSoundMuted()" auto-hide="false"><ion-icon [name]="getSoundMuted() ? 'volume-mute-outline' : 'volume-high-outline'"></ion-icon></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Du fikk {{data.correctAnswers}} av {{data.rounds}} riktige</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #ionContent>
  <ion-grid>    
    <ion-row class="ion-justify-content-center" style="font-size: 1.5rem; padding-top: 1rem;">
      <ion-label class="ion-text-center" color="medium">TOPPRESULTAT</ion-label>
    </ion-row>
    <ion-row class="ion-align-items-center ion-justify-content-center" style="padding-right: 3rem;">
      <ion-list lines="none" style="width: 12rem; margin-bottom: 0">
        <ion-item id="highscore0">
          <ion-icon style="opacity: 0;" class="arrow" name="chevron-forward-outline"></ion-icon>
          <ion-icon style="opacity: 1;" class="gold ion-margin-horizontal" name="trophy" size="medium"></ion-icon>
          <ion-label><b>1.</b></ion-label>
          <ion-text><b>{{highscores[0] > 0 ? highscores[0] : '-'}}</b></ion-text>
        </ion-item>
        <ion-item id="highscore1">
          <ion-icon style="opacity: 0;" class="arrow" name="chevron-forward-outline"></ion-icon>
          <ion-icon style="opacity: 0;" class="silver ion-margin-horizontal" name="trophy" size="medium"></ion-icon>
          <ion-label>2.</ion-label>
          <ion-text>{{highscores[1] > 0 ? highscores[1] : '-'}}</ion-text>
        </ion-item>
        <ion-item id="highscore2">
          <ion-icon style="opacity: 0;" class="arrow" name="chevron-forward-outline"></ion-icon>
          <ion-icon style="opacity: 0;" class="bronze ion-margin-horizontal" name="trophy" size="medium"></ion-icon>
          <ion-label>3.</ion-label>
          <ion-text>{{highscores[2] > 0 ? highscores[2] : '-'}}</ion-text>
        </ion-item>
      </ion-list>
    </ion-row>

    <ion-row class="ion-justify-content-center" style="font-size: 1rem; padding-top: 1rem; margin-bottom: 0; padding-bottom: 0;">
      <ion-label class="ion-text-center" color="medium">POENG</ion-label>
    </ion-row>
    <ion-row id="score-page-points" class="vertical-align-content ion-padding-vertical" style="padding-top: 0;">
      <ion-col>
        <ion-icon name="star" style="font-size: 2.5rem;" color="primary"></ion-icon>
        <ion-label class="ion-padding-horizontal" style="font-size: 3rem" id="score-page-points-label">0</ion-label>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <app-xp-bar color="dark"></app-xp-bar>
      </ion-col>
    </ion-row>

      
    <ion-grid class="ion-padding-horizontal">
      <mat-expansion-panel [expanded]="false" class="ion-padding-horizontal">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <ion-label>DETALJER</ion-label>
          </mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        
        <ion-row class="text-size">
          <ion-col class="ion-no-padding">
            <app-stat-bar #difficultyBar value="{{difficultyPercent}}" class="difficultyBar"></app-stat-bar>

            <ion-item lines="none">
              <ion-icon style="float: left; padding-right: 1vh;" color="dark" name="thermometer-outline"></ion-icon>
              <ion-label>VANSKELIGHETSGRAD</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="text-size">
          <ion-col class="ion-no-padding">
            <app-stat-bar #leseBar [value]="lesePercent" color="{{statsList['verb'].color}}"></app-stat-bar>

            <ion-item lines="none">
              <ion-icon style="float: left; padding-right: 1vh;" color="dark" [name]="statsList['verb'].icon"></ion-icon>
              <ion-label>LESE</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="text-size">
          <ion-col class="ion-no-padding">
            <app-stat-bar #forstoelseBar [value]="forstoelsePercent" color="septenary"></app-stat-bar>

            <ion-item lines="none">
              <ion-icon style="float: left; padding-right: 1vh;" color="dark" name="bulb-outline"></ion-icon>
              <ion-label>FORSTÅELSE</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </mat-expansion-panel>
    </ion-grid>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-button routerLink="/" routerDirection="back" expand="full" color="secondary" class="ion-no-margin"><ion-label color="light">NYTT SPILL</ion-label>&nbsp;<ion-icon size="large" color="light" name="rocket-outline"></ion-icon></ion-button>
      </ion-col>
      
      <ion-col class="ion-no-padding">
        <ion-button [routerLink]="'/game_' + data.id.toString()" routerDirection="back" expand="full" color="primary" class="ion-no-margin"><ion-label color="light">PRØV IGJEN</ion-label>&nbsp;<ion-icon size="large" color="light" name="refresh"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
