.vertical-align-content > *
{
  display: flex!important;
  align-content: center!important;
  align-items: center!important;
  justify-content: center;
}

.gold {
  color: #FFBD1B;
}

.silver {
  color: #BEC2CB;
}

.bronze {
  color: #CD7F32;
}

.toast-exit-button {
  --button-color: red !important;
}

.scoreText {
  font-size: 2rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

