<ion-card color="light-bg">
	<ion-grid>
		<ion-row style="width: 100%;">
			<ion-col style="width: 100%;" #level class="ion-text-center">
				<ion-label style="font-size: 3vh;">NIVÅ {{PLAYER_STATS.level}}</ion-label>
			</ion-col>
			
			<ion-progress-bar color="primary" value="{{PLAYER_STATS.current_xp / PLAYER_STATS.target_xp}}"></ion-progress-bar>
			
			<ion-col style="width: 100%;" class="ion-text-center">
				<ion-label style="font-size: 2.2vh">{{PLAYER_STATS.target_xp - PLAYER_STATS.current_xp}} POENG TIL NESTE NIVÅ</ion-label>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-card>