<ion-content #ionContent style="overflow-y: hidden;">
	<ion-card style="border-radius: 0;" color="secondary" class="ion-no-margin ion-no-padding">
		<mat-expansion-panel class="ion-padding-vertical">
			<mat-expansion-panel-header collapsedHeight="6vh">
				<mat-panel-title class="ion-align-items-center">
					<img style="height: 5vh;" src="../../../assets/img/brain.png" />
				</mat-panel-title>
				<mat-panel-description>
					<ion-label class="ion-text-center no-white-space goal-title" style="font-size: 2.4vh;">DAGLIGE MÅL&nbsp;&nbsp;&nbsp;{{sumGoals}} AV 3
					</ion-label>
				</mat-panel-description>
			</mat-expansion-panel-header>

			<ion-grid>
				<ion-row>
					<ion-item *ngFor="let goal of goalsList; let i = index" color="primary-purple" class="ion-no-margin ion-no-padding daily-goals-text">
						<ion-text slot="end" class="ion-text-end">{{goal.progress}} av {{goal.max}}</ion-text>&nbsp;&nbsp;
						<ion-icon [hidden]="!goal.finished" slot="end" color="success" class="ion-no-margin ion-no-padding" name="checkmark-outline"></ion-icon>
						<ion-label [class]="goal.finished ? 'line-through' : ''">{{goal.text}}</ion-label>
					</ion-item>
				</ion-row>
			</ion-grid>
		</mat-expansion-panel>
	</ion-card>
	
	<ion-grid>
		<ion-row>
			<ion-col size="2" style="min-width: 120px;">
				<ion-button class="ion-text-center ion-padding-horizontal" expand="block" color="secondary" (click)="openInfoModal()">
					<ion-icon style="font-size: 4vh;" color="light" name="help-circle-outline"></ion-icon>
				</ion-button>
			</ion-col>
			<ion-col size="2" style="min-width: 120px;">
				<ion-button class="ion-text-center ion-padding-horizontal" expand="block" color="secondary">
					<ion-icon style="font-size: 4vh;" color="light" name="help-circle-outline"></ion-icon>
				</ion-button>
			</ion-col>
			<ion-col>
				<ion-button class="ion-text-center ion-margin-horizontal" expand="block" color="secondary" (click)="openLink('https://www.survey-xact.dk/LinkCollector?key=XUUQ7DN2SN95')">
					<ion-label style="font-size: 2vh;" color="light">BRUKERUNDERSØKELSE</ion-label>
				</ion-button>
			</ion-col>
		</ion-row>
		
		<ion-row>
			<app-xp-bar style="width: 100%;"></app-xp-bar>
		</ion-row>
		
		<ion-row class="ion-padding-vertical">
			<ion-label class="ion-padding-horizontal" style="font-size: 2.5vh;">
				<ion-icon class="icon" name="rocket-outline"></ion-icon> SPILL
			</ion-label>
		</ion-row>
		
		<ion-row style="position: relative;">
			<div class="sliderPos vertical-align-content" style="left: 3%;" (click)="slidePrev()">
				<ion-icon [hidden]="this.slideBeginning" name="chevron-back-outline"></ion-icon>
			</div>
			<div class="sliderPos vertical-align-content" style="right: 3%;" (click)="slideNext()">
				<ion-icon [hidden]="this.slideEnd" name="chevron-forward-outline"></ion-icon>
			</div>
			<ion-slides class="ion-no-margin ion-no-padding" #slides [options]="sliderConfig" (click)="$event.preventDefault()">
				<ion-slide class="ion-padding-horizontal" *ngFor="let item of gamesList">
					<app-game-card [item]="item"></app-game-card>
				</ion-slide>
			</ion-slides>
		</ion-row>
	</ion-grid>
</ion-content>
