ion-item {
	margin-top: 15px;
	font-size: 22px;
}

.icon {
	margin-bottom: -3px;
}

.center-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.line-through {
	text-decoration: line-through;
}

.sliderPos {
	position: absolute;
	font-size: 2rem;
	z-index: 2;
	height: 85%;
}

.gameCards {
	display: inline-block;
}

.daily-goals-text {
	width: 100%; font-size: 2vh;
}

.mp-bottom {
	padding-bottom: 0;
	margin-bottom: 0;
}

.goal-title {
	position: absolute; 
	margin-top: 0.5rem;
	left: 50%;
	transform: translateX(-50%)
}