ion-item {
	margin-top: 15px;
	font-size: 22px;
}

.icon {
	margin-bottom: -3px;
}

.gameCards {
	display: inline-block;
}

.bgColor {
	--background: url("../../../assets/img/games/match/bg.png");
}

.daily-goals-text {
	width: 100%; font-size: 2vh;
}

.mp-bottom {
	padding-bottom: 0;
	margin-bottom: 0;
}