ion-item {
	margin-top: 15px;
	font-size: 22px;
}

.icon {
	margin-bottom: -3px;
}

.gameCards {
	display: inline-block;
}

.xpBar {
	margin-left: 5%;
	margin-right: 5%;
	border-radius: 1em;
	background: white;
}