<ion-content fullscreen>
	<ion-card color="primary" style="padding-bottom: 0; margin-bottom: 0;">
		<ion-card-header>
			<ion-grid>
				<ion-row>
					<ion-col>
						<img style="height: 5rem; width: auto; margin: 0;" src="../../../assets/img/brain.png" />
					</ion-col>
					<ion-col>
						<h1><ion-label color="dark" style="font-size: 2.9vh;">REPERIO</ion-label></h1>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-header>
	</ion-card>
	
	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-button class="ion-text-center" expand="block" color="dark" (click)="openSurvey()"><ion-label style="font-size: 2.2vh;" color="light">UNDERSØKELSE 1</ion-label></ion-button>
			</ion-col>
			<ion-col>
				<ion-button class="ion-text-center" expand="block" color="dark" (click)="openSurvey()"><ion-label style="font-size: 2.2vh;" color="light">UNDERSØKELSE 2</ion-label></ion-button>
			</ion-col>
		</ion-row>
		
		<ion-row style="width: 100%;">
			<ion-col>
				<app-xp-bar></app-xp-bar>
			</ion-col>
		</ion-row>
	</ion-grid>
	
	<ion-item lines="none">
		<ion-label style="margin: 0; padding: 0;">
			<ion-icon class="icon" name="rocket-outline"></ion-icon> SPILL
		</ion-label>
	</ion-item>
	
	<section>		
		<ion-slides #slides [options]="sliderConfig" (click)="$event.preventDefault()">
			<ion-slide *ngFor="let item of GAMES_LIST" style="padding: 1rem">
				<app-game-card [item]="item"></app-game-card>
			</ion-slide>
		</ion-slides>
	</section>
</ion-content>
