ion-card {
	float: left;
	width: 165px;
	margin-right: 0px;
	margin-left: 15px;
	margin-top: 0px;
	margin-bottom: 15px;
	border: 1px solid black;
	box-shadow:none;
	background-image: none;
}

ion-icon {
	name: 'book';
}

.overlay {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0px;
    opacity: 0.75;
    background: #000;
}

ion-card-subtitle {
	margin: 5px;
	font-size: 15px;
	opacity: 1;
}

.topright {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 23px;
}

.overlay > .left {
	float: left;
}

.overlay > .right {
	float: right;
}