<div (click)="go(item.id)" routerDirection="forward" style="height: 100%; border: solid;">
    <ion-card style="margin-left: 0; margin-right: 0;">
        <img [src]="item.thumbnail" />
        
        <ion-icon color="light" class="topright" name="{{
            item.category == 1 ? 'book' :
            item.category == 2 ? 'create' :
            item.category == 3 ? 'volume-high' : 'pulse'
        }}"></ion-icon>
    </ion-card>
    <ion-card-subtitle class="ion-text-left" color="dark">
        {{item.title}}
    </ion-card-subtitle>
</div>