ion-card {
	margin: 1rem;
	margin-top: 0;
	box-shadow:none;
	background-image: none;
}

.overlay {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0px;
    opacity: 0.75;
    background: #000;
}

ion-card-subtitle {
	margin: 5px;
	font-size: 15px;
	opacity: 1;
	margin-left: 20px;
	bottom: 15px;
}

.blur {
	filter: blur(2px) grayscale(100%);
}

.lockIcon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 5rem;
}

.levelReq {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 0.7rem;
	transform: translate(-50%, -50%);
	font-size: 3rem;
}

.overlay > .left {
	float: left;
}

.overlay > .right {
	float: right;
}