<div (click)="go(item.id)" class="ion-no-margin ion-no-padding" (mousedown)="$event.preventDefault()">
    <ion-card style="margin-left: 0; margin-right: 0;">
        <img [class]="isAboveLevelReq() ? '' : 'blur'" [src]="item.thumbnail"/>
        
        <ion-label *ngIf="!isAboveLevelReq()" class="lockIcon vertical-align-content">
            <ion-icon color="dark" name="lock-closed"></ion-icon>
        </ion-label>

        <ion-label *ngIf="!isAboveLevelReq()" color="light" class="levelReq vertical-align-content">
            {{item.levelReq}}
        </ion-label>
    </ion-card>
    <ion-card-subtitle class="ion-text-left" color="dark">
        {{item.title}}
    </ion-card-subtitle>
</div>