ion-card {
	margin: 1rem;
	margin-top: 0;
	box-shadow:none;
	background-image: none;
}

.overlay {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0px;
    opacity: 0.75;
    background: #000;
}

ion-card-subtitle {
	margin: 5px;
	font-size: 15px;
	opacity: 1;
	margin-left: 20px;
	bottom: 15px;
}

.topright {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 23px;
}

.overlay > .left {
	float: left;
}

.overlay > .right {
	float: right;
}