<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button [text]="'Tilbake'"></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen>
	<div class="screenWidth">
		<img class="titleImg" [src]="item.thumbnail"/>
		
        <ion-item color="dark" style="margin-top: -5px;">
			<ion-icon color="{{favoriteColor}}" (click)="addFavorite()" id="favorite_element" slot="end" name="star"></ion-icon>
			<ion-label color="light">{{ item.title.toUpperCase() }}</ion-label>
        </ion-item>

		<ion-text>
			<p>Ditt nivå: {{ getComplexity() }}</p>
			<p>{{ item.description }}</p>
		</ion-text>
	</div>

	<div class="footer">
		<ion-toolbar (click)="go()" routerDirection="forward" color="primary" position="bottom">
			<ion-button size="large" expand="full"><ion-text color="light"><ion-icon name="play"></ion-icon></ion-text></ion-button>
		</ion-toolbar>
	</div>
</ion-content>
