<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'Tilbake'"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
	<div class="screenWidth">
		<img class="titleImg" src="./assets/img/cat.jpg"/>
		<ion-list lines="none">
			<ion-item color="dark">
				<ion-icon slot="end" [name]="item.icon"></ion-icon>
				<ion-text>
					<h4>{{ item.title }}</h4>
				</ion-text>
			</ion-item>
		</ion-list>

		<ion-text>
			<p>{{ item.description }}</p>
		</ion-text>
	</div>

	<div class="footer">
		<ion-toolbar color="primary" position="bottom">
			<ion-button size="large" expand="full">Spill</ion-button>
		</ion-toolbar>
	</div>
</ion-content>
