.screenWidth {
	width: 100%;
	margin: auto;
	display: block;
	align-items: center;
}

.titleImg {
	width: 100%;
	margin: 0px;
}

.bg-image {
	--background: url("../../../assets/img/games/match/bg.png");
}

.footer {
	position: absolute;
	bottom: 0;
}

ion-item {
	font-size: 25px;
}

ion-toolbar > .button {
	font-size: 35px;
	height: 50px;
}

ion-text > p {
	margin: 10px;
	font-size: 20px;
}
