<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button [routerLink]="'/game-info/1'" routerDirection="back" auto-hide="false">
                <ion-icon color="secondary" name="arrow-back-outline"></ion-icon>
            </ion-menu-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-menu-button (click)="toggleSoundMuted()" auto-hide="false">
                <ion-icon color="secondary" [name]="getSoundMuted() ? 'volume-mute-outline' : 'volume-high-outline'"></ion-icon>
            </ion-menu-button>
        </ion-buttons>
        
        <ion-title>
            <ion-buttons class="ion-align-items-center ion-justify-content-center">
                <ion-icon name="star" color="primary"></ion-icon>
                <ion-text #pointsElement id="finn-ordet-points" color="dark"></ion-text>
            </ion-buttons>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-progress-bar color="tertiary" style="height: 2vh;" value="{{timeLeft / maxTimeTaken}}"></ion-progress-bar>
    
    <ion-grid #container style="height: 98%; visibility: hidden;">
        <ion-row style="height: 60%">
            <img id="question-image" class="question-image box-shadow" *ngIf="questionImageSrc" [src]="questionImageSrc">
        </ion-row>

        <ion-row style="height: 40%" class="ion-justify-content-center">
            <ion-button (click)="answer($event)" id="alternative1" class="question-btn" mode="md" expand="block" size="small" color="light">{{roundTextAlternatives[0]}}</ion-button>
            <ion-button (click)="answer($event)" id="alternative2" class="question-btn" mode="md" expand="block" size="small" color="light">{{roundTextAlternatives[1]}}</ion-button>
            <ion-button (click)="answer($event)" id="alternative3" class="question-btn" mode="md" expand="block" size="small" color="light">{{roundTextAlternatives[2]}}</ion-button>
            <ion-button (click)="answer($event)" id="alternative4" class="question-btn" mode="md" expand="block" size="small" color="light">{{roundTextAlternatives[3]}}</ion-button>
        </ion-row>
    </ion-grid>
</ion-content>
