ion-content {
  --background: url("../../../../assets/img/games/match/bg.png");
  --overflow: hidden !important;
}

ion-title{
  font-size: 2em;
}

.alternative-btn {
  font-size: 4vh;
  position: absolute;
  bottom: 0;
}

.imgButton {
  max-height: 100%;
  margin: 0.25rem;
  width: auto;
}