<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/game-info/2" text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button (click)="toggleSoundMuted()" auto-hide="false"><ion-icon [name]="getSoundMuted() ? 'volume-mute-outline' : 'volume-high-outline'"></ion-icon></ion-menu-button>
    </ion-buttons>

    <ion-title>
      <ion-buttons class="ion-align-items-center ion-justify-content-center">
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-text id="sant-usant-points" color="dark"></ion-text>
      </ion-buttons>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar color="tertiary" style="height: 2vh;" value="{{timeLeft / maxTimeTaken}}"></ion-progress-bar>
    
    <ion-grid style="height: 98%;">
      <ion-row class="ion-text-center ion-justify-content-center" style="height: 60%;" id="main-container">
        <ion-card>
          <ion-img [src]="questionImageSrc"></ion-img>
          <ion-card-header>
            <ion-card-title style="max-width: 500px; font-size: 2rem;">{{questionText}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-row>
      
      <ion-row style="height: 40%;">
        <ion-button (click)="answer($event, 1)" class="alternative-btn ion-no-margin ion-margin" mode="md" shape="round" style="left: 10%;" size="small" expand="block" color="light"><ion-icon name="thumbs-up-outline"></ion-icon></ion-button>
        <ion-button (click)="answer($event, 0)" class="alternative-btn ion-no-margin ion-margin" mode="md" shape="round" style="right: 10%;" size="small" expand="block" color="light"><ion-icon name="thumbs-down-outline"></ion-icon></ion-button>
      </ion-row>
    </ion-grid>


</ion-content>
