<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button [routerLink]="'/game-info/2'" routerDirection="back" auto-hide="false">
        <ion-icon color="secondary" name="arrow-back-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button (click)="toggleSoundMuted()" auto-hide="false">
        <ion-icon color="secondary" [name]="getSoundMuted() ? 'volume-mute-outline' : 'volume-high-outline'"></ion-icon>
      </ion-menu-button>
    </ion-buttons>

    <ion-title>
      <ion-buttons class="ion-align-items-center ion-justify-content-center">
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-text #pointsElement id="sant-usant-points" color="dark"></ion-text>
      </ion-buttons>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar color="tertiary" style="height: 2vh;" value="{{timeLeft / maxTimeTaken}}"></ion-progress-bar>

  <div #container class="ion-text-center">
    <ion-card style="display: inline-block; max-width: 450px;">
      <img *ngIf="questionImageSrc" [src]="questionImageSrc">
      <ion-card-header>
        <ion-card-title style="font-size: 3.5vh">{{questionText}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>

  <ion-button (click)="answer($event, 1)" class="alternative-btn ion-no-margin ion-margin" mode="md" shape="round" style="left: 10%;" size="small" expand="block" color="light"><ion-icon name="thumbs-up-outline"></ion-icon></ion-button>
  <ion-button (click)="answer($event, 0)" class="alternative-btn ion-no-margin ion-margin" mode="md" shape="round" style="right: 10%;" size="small" expand="block" color="light"><ion-icon name="thumbs-down-outline"></ion-icon></ion-button>
</ion-content>
