/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Custom CSS */
@import '~animate.css';

//@import url('./assets/fonts/source_sans_pro/SourceSansPro-Regular.otf');
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: normal;
	src: url('./assets/fonts/source_sans_pro/SourceSansPro-Regular.otf');
}
ion-button {
	letter-spacing: 0;
}

.browserWidth {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.progressBar {
	height: 1vh;
	border-radius: 5px;
}

.difficultyBar {
	--progress-background: linear-gradient(to right, #10dc60, #ffce00, #f04141);
}

.info-modal-css {
	--max-width: 600px;
	--max-height: 500px;
}

.toast-bottom {
	transform: translateY(-3rem) translateX(-50%) !important;
}

.toast-top {
	transform: translateY(-7rem) translateX(-50%) !important;
}

.toast-class {
	left: 50%;
	max-width: 30rem;
	color: var(--ion-color-light);
}

.fw {
	width: 100%;
}

.fh {
	height: 100%;
}

.fwh {
	width: 100%;
	height: 100%;
}

ion-footer ion-button {
	height: 3rem;
}

.toast-exit-button {
	--button-color: red !important;
}

.vertical-align-content
{
	display: flex!important;
	align-content: center!important;
	align-items: center!important;
}

.iconAlign {
	display: inline-block;
	font-size: 35px;
	color: #ffC977;
	vertical-align: middle;
}

.textAlign {
	display: inline-block;
	vertical-align: middle;
}

.mobileWidth {
	@media(min-width: 750px) {
		zoom: 1.25;
	}
}

.rating_alert{
	border-radius: 8px;
	.alert-wrapper{ border-radius: 8px; }
	.alert-button-group{
		padding:0;
		margin-top: 10px;
		flex-direction: row;
		justify-content: space-around;
		// flex-direction: row; justify-content: space-around;
		display: flex;
		flex-wrap: wrap;
	}
	button{
		flex: 1 1 20%;
		&.rate-icon-button{
			width: 40px;
			max-width: 20%;
			min-width: auto;
			height: 40px;
			margin: 0 !important;
			background-image:url('./assets/img/emotes.png');
			background-repeat: no-repeat;
			background-position: center;
			border: none;
			.button-inner{
				visibility: hidden;
			}
			&:nth-child(1){ background-position-y: 3px; }
			&:nth-child(2){ background-position-y: -36px; }
			&:nth-child(3){ background-position-y: -76px; }
			&:nth-child(4){ background-position-y: -114px; }
			&:nth-child(5){ background-position-y: -153px; }

			&.selected-rating{
				position: relative;
				overflow: visible;
				&:after{
					content: '';
					position: absolute;
					bottom: -4px;
					height: 4px;
					background-color: #2E6DFF;
					width: 80%;
					left: 10%;
				}
			}
		}

		&.rate-action-button{
			text-align: center;
			margin-top: 20px;
			margin-right: 0;
			border-top: 1px solid #c3c3c3;
			.button-inner{
				justify-content: center;
			}
			&.rate-later{
				border-right: 1px solid #c3c3c3;
			}
			&.rate-now{
				border-left: 1px solid #c3c3c3;
			}
		}
	}
}