<ion-header translucent>
  <ion-toolbar>
    <ion-title>Spill Historie</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">LUKK</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding-horizontal">
    <mat-accordion>
      <mat-expansion-panel [expanded]="false"  style="padding: 0; margin: 0;" *ngFor="let roundData of gameData.data.roundData; let roundIndex = index">
        <mat-expansion-panel-header style="padding: 0; margin: 0;">
          <mat-panel-title style="font-size: 2vh;">
            OPPGAVE {{roundIndex + 1}}
          </mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        
        <!-- finn ordet -->
        <ion-row *ngIf="gameData.data.id == 1" class="labelFullWidth">
            <ion-img [src]="'./assets/img/games/images/' + roundData.src"></ion-img>
            <ion-label><b>Vanskelighetsgrad</b>: {{getDifficulty(roundData.difficulty)}}</ion-label>
            <ion-label><b>Riktig Svar</b>: {{roundData.answer}}</ion-label>
            <ion-label><b>Statistikk</b>: {{roundData.stats.join(', ')}}</ion-label>
            <ion-label><b>Alternativer</b>: {{roundData.alternatives.join(', ')}}</ion-label>
            <div style="width: 100%;" *ngFor="let history of gameData.data.gameHistory[roundIndex]">
              <br/>
              <ion-label><b>Gjettet</b>: {{history.guessedWord}} ({{history.answeredCorrect ? 'Riktig' : 'Feil'}})</ion-label>
              <br/>
              <ion-label><b>Tid brukt</b>: {{history.timeTaken}} sekunder</ion-label>
            </div>
        </ion-row>

        <!-- sant eller usant -->
        <ion-row *ngIf="gameData.data.id == 2" class="labelFullWidth">
            <ion-img [src]="'./assets/img/games/images/' + roundData.src"></ion-img>
            <ion-label><b>Vanskelighetsgrad</b>: {{getDifficulty(roundData.difficulty)}}</ion-label>
            <ion-label><b>Tekst</b>: {{roundData.question}}</ion-label>
            <ion-label><b>Riktige Svar</b>: {{roundData.answer ? 'Sant' : 'Usant'}}</ion-label>
            <ion-label><b>Statistikk</b>: {{roundData.stats.join(', ')}}</ion-label>
          
            <div style="width: 100%;" *ngFor="let history of gameData.data.gameHistory[roundIndex]">
              <br/>
              <ion-label><b>Gjettet</b>: {{roundData.answer ? 'Sant' : 'Usant'}} ({{history.answeredCorrect ? 'Riktig' : 'Feil'}})</ion-label>
              <br/>
              <ion-label><b>Tid brukt</b>: {{history.timeTaken}} sekunder</ion-label>
            </div>
        </ion-row>

        <!-- finn bildet -->
        <ion-row *ngIf="gameData.data.id == 3" class="labelFullWidth">
            <ion-grid>
              <ion-row>
                <ion-col style="width: 30%;">
                  <ion-label class="ion-text-center">
                    <ion-img [src]="'./assets/img/games/images/' + roundData.alternatives[0].src"></ion-img>
                    {{roundData.alternatives[0].text}}
                  </ion-label>
                  <ion-label class="ion-text-center">
                    <ion-img [src]="'./assets/img/games/images/' + roundData.alternatives[1].src"></ion-img>
                    {{roundData.alternatives[1].text}}
                  </ion-label>
                </ion-col>
                <ion-col style="width: 30%;">
                  <ion-label class="ion-text-center">
                    <ion-img [src]="'./assets/img/games/images/' + roundData.alternatives[2].src"></ion-img>
                    {{roundData.alternatives[2].text}}
                  </ion-label>
                  <ion-label class="ion-text-center">
                    <ion-img [src]="'./assets/img/games/images/' + roundData.alternatives[3].src"></ion-img>
                    {{roundData.alternatives[3].text}}
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          
            <ion-label><b>Vanskelighetsgrad</b>: {{getDifficulty(roundData.difficulty)}}</ion-label>
            <ion-label><b>Riktig Svar</b>: {{roundData.answer}}</ion-label>
            <ion-label><b>Statistikk</b>: {{roundData.stats.join(', ')}}</ion-label>
          
            <div style="width: 100%;" *ngFor="let history of gameData.data.gameHistory[roundIndex]">
              <br/>
              <ion-label><b>Gjettet</b>: {{history.guessedWord}} ({{history.answeredCorrect ? 'Riktig' : 'Feil'}})</ion-label>
              <br/>
              <ion-label><b>Tid brukt</b>: {{history.timeTaken}} sekunder</ion-label>
            </div>
        </ion-row>
        
        <!-- par-ord -->
        <ion-row *ngIf="gameData.data.id == 4" class="labelFullWidth">
            <ion-label><b>Riktige Svar</b>: {{roundData.correctPairs.join(', ')}}</ion-label>
            <ion-label><b>Statistikk</b>: semantikk</ion-label>
            <ion-label><b>Alternativer Venstre</b>: {{roundData.alternatives.left.join(', ')}}</ion-label>
            <ion-label><b>Alternativer Høyre</b>: {{roundData.alternatives.right.join(', ')}}</ion-label>
          
            <div style="width: 100%;" *ngFor="let history of gameData.data.gameHistory[roundIndex]">
              <br/>
              <ion-label><b>Gjettet</b>: {{history.guessedWord}} ({{history.answeredCorrect ? 'Riktig' : 'Feil'}})</ion-label>
              <br/>
              <ion-label><b>Tid brukt</b>: {{history.timeTaken}} sekunder</ion-label>
            </div>
        </ion-row>
      </mat-expansion-panel>
    </mat-accordion>
  </ion-grid>
</ion-content>
