<div class="topMenu"></div>
<ion-content>
	<ion-item>
		<ion-label>
			<ion-icon class="icon" name="book"></ion-icon> Lese
		</ion-label>
	</ion-item>

	<div class="gameCards" *ngFor="let item of games.lese">
		<app-game-card [item] = "item"></app-game-card>
	</div>
	
	<ion-item>
		<ion-label>
			<ion-icon class="icon" slot="end" name="create"></ion-icon> Skrive
		</ion-label>
	</ion-item>

	<div class="gameCards" *ngFor="let item of games.skrive">
		<app-game-card [item] = "item"></app-game-card>
	</div>

	<ion-item>
		<ion-label>
			<ion-icon class="icon" slot="end" name="volume-high"></ion-icon> Lytte
		</ion-label>
	</ion-item>

	<div class="gameCards" *ngFor="let item of games.lytte">
		<app-game-card [item] = "item"></app-game-card>
	</div>

	<ion-item>
		<ion-label>
			<ion-icon class="icon" slot="end" name="pulse"></ion-icon> Hjernetrim
		</ion-label>
	</ion-item>

	<div class="gameCards" *ngFor="let item of games.hjernetrim">
		<app-game-card [item] = "item"></app-game-card>
	</div>
</ion-content>